.counter {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  cursor: pointer;
  margin-right: 10px;
  width: 100px;
  padding: 0.5rem;
  border: 2px solid rgb(106, 3, 3);
  font-weight: 600;
  border-radius: 0.7rem;
  font-family: monospace;
}

.btn-sub {
  background-color: rgb(245, 70, 70);
  color: white;
}

.btn-reset {
  border: 2px solid rgb(132, 129, 129);
}

.btn-add {
  background-color: rgb(90, 238, 90);
  border: 2px solid green;
}

.header-count {
  font-size: 80px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
